@model IEnumerable<MVC_magic_store.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="newcat">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
        <input type="text" id="newcatname" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcata" class="btn btn-success">Add a new category</a>
        <span class="ajax-text">
            <!-- картинка, которая покажет, что запрос обрабатывается -->
            <img src="#" height="50"/>
        </span>
    </p>
</div>

<!-- Вывод сообщения если в модели нет ни одной категории -->
@if (!Model.Any())
{
    <h1 class="text-center">There are no categories.</h1>
}
else
{
    <table class="table sorting" id="categories">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <div class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></div>
                            </div>
                            <div class="col">
                                @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>          
                </td>
                <td>
                    <!--@Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })-->
                    <a href="#" id="delcata_@item.Id" class="delete btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </table>
}
<!-- Подключение скриптов на страницу -->
@section Scripts
{
    <script>
        $(function () {
            /* add new category */
            /* Объявляем и инициализируем нужные переменные */
            var newCatA = $("a#newcata");  /* Класс линка добавления */
            var newCatTextInput = $("#newcatname"); /* Класс текстового поля ввода */
            var ajaxText = $("span.ajax-text"); /* Класс картинки загрузки */
            var table = $("table#categories tbody") /* Класс таблицы ввода */

            /* Пишем функцию на отлов нажатия Enter */
            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            });

            /* Пишем функцию Click */
            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val().trim();

                /* Проверка на длину названия категории, не меньше 3 символов */
                if (catName.length < 3) {
                    alert("Category name must be at least 3 characters long.");
                    return false;
                }

                /* Показать картинку загрузки */
                ajaxText.show();

                /* Путь до метода создания новой категории */
                var url = "/Admin/Shop/AddNewCategory/"; 

                /* отправка запроса на сервер */
                $.post(url, { catName: catName }, function (data) {
                    var response = data.trim(); /* удаление пробелов впереди и сзади */
                    /* Проверка на уникальность названия категории */
                    if (response == "titletaken") {
                        /* В блок вставить сообщение пользователю */
                        ajaxText.html("<span class='alert alert-danger'>That title is taken!</span>");
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src='/Content/images/ajax-loader.gif' height='50'/>");
                            });
                        }, 2000);
                        return false;
                    }
                    else {
                        ajaxText.html("<span class='alert alert-success'>The category has been added");
                        if (!$("table#categories").length) {
                            setTimeout(function () {
                                location.reload();
                            }, 2000); 
                        }
                        else {
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src='/Content/images/ajax-loader.gif' height='50'");
                                });
                            }, 2000);

                            newCatTextInput.val("");

                            var toAppend = $("table#categories tbody tr:last").clone();
                            toAppend.attr("id", "id_" + data);
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "#");
                            toAppend.find("a.delete").attr("id", "delcata_" + data);
                            table.append(toAppend);
                            table.sortable("refresh");
                            //location.reload();
                        }
                    }
                });
            });

            /* confirm category deletion */
            $("body").on("click","a.delete", function () {
                if (!confirm("Confirm category deletion")) return false;
                var ajaxText = $("span.ajax-text"); /* Класс картинки загрузки */
                var id = $(this).attr("id").substr(8);
                ajaxText.show();
                var url = "/Admin/Shop/DeleteCategory/";
                $.post(url, { id: id }, function (data) {
                    if (!(id == data)) {
                        return false;
                    }
                    else {
                        ajaxText.html("<span class='alert alert-success'>The category has been deleted");
                        $("#id_" + data).fadeOut();
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src='/Content/images/ajax-loader.gif' height='50'");
                            });
                        }, 2000);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);                        
                    }
                });
            });

            /* change cursor when drag and drop */
            $("tr:not(.home)").mousedown(function () {
                $(this).css("cursor", "move");
            });
            $("tr:not(.home)").mouseup(function () {
                $(this).css("cursor", "default");
            });

            /* Sorting script */
            $("table#categories tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#categories tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderCategories";
                    $.post(url, ids, function (data) {
                    });
                }
            });
        });
    </script>
}