@model IEnumerable<MVC_magic_store.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="newcat">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
        <input type="text" id="newcatname" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcata" class="btn btn-success">Add a new category</a>
        <span class="ajax-text">
            <!-- картинка, которая покажет, что запрос обрабатывается -->
            <img src="#" height="50"/>
        </span>
    </p>
</div>

<!-- Вывод сообщения если в модели нет ни одной категории -->
@if (!Model.Any())
{
    <h1 class="text-center">There are no categories.</h1>
}
else
{
    <table class="table sorting" id="categories">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="row">
                        <div class="col">
                            <div class="ajaxdivtd"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <div class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></div>
                            </div>
                            <div class="col">
                                @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "input_"+@item.Id+" form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>          
                </td>

                <td>
                    <!--@Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })-->
                    <a href="#" id="delcata_@item.Id" class="delete btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </table>
}
<!-- Подключение скриптов на страницу -->
@section Scripts
{
    <script src="~/Content/ShopJS/CategoriesViewJS.js"></script>
}