@model MVC_magic_store.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<br />

<div class="row">
    <div class="col-sm-2 col-md-2" style="text-align: center">
        <img src="/Images/Uploads/Products/@Model.Id/Thumbs/@Model.ImageName" />
    </div>

    <div class="col-sm-6 col-md-7">
        @Html.DisplayFor(model => model.Description)
        <br />
        Price: @Html.DisplayFor(model => model.Price)
    </div>

    <div class="addtocart col-sm-4 col-md-3">
        <a href="#" class="addtocart btn btn-success" >Add to cart</a>
        <span class="loader">
            <img src="#"/>
        </span>
        <div class="ajaxmsg">
            The product has been added to your cart.
        </div>
    </div>
</div>
